%h1 Mango Kru
%p
%p
  .album.text-muted
    .container
      .row
        - @kru_members.each do |kru_member|
          .card{id: 'kruCard'}
            %div{align: 'center'}
              %img{alt: 'Card image cap', src: "/images/crew/#{kru_member.image}", class: 'kruImage'}

            %h5
              = link_to kru_member.name, kru_member
            %p.card-text
              = kru_member.bio

%br
- if can? :new, KruMember
  = link_to 'New Kru member', '/admin/kru_member/new'
- if can? :import, KruMember
  = link_to 'Import Kru members', kru_member_upload_path