%h1 Listing kru_members

%table
  %thead
    %tr
      %th Name
      %th Image
      %th Bio
      %th
      %th
      %th

  %tbody
    - @kru_members.each do |kru_member|
      %tr
        %td= kru_member.name
        %td= kru_member.image
        %td= kru_member.bio
        %td= link_to 'Show', kru_member
        %td= link_to 'Edit', edit_kru_member_path(kru_member)
        %td= link_to 'Destroy', kru_member, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Kru member', new_kru_member_path
