%p#notice= notice

%h1= @kru_member.name
.row
  %div{class: 'kruImageBlock col-sm-4'}
    %img{src: "/images/crew/#{@kru_member.image}", class: 'kruBioImage'}
  %div{class: 'col-sm-8'}
    = @kru_member.bio

= link_to 'Back', kru_members_path
